html, body, header
{ background-color: #e9815e }

body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

nav ul li {
    margin-left: 45px;
    margin-right: 45px;
}

nav ul li:first-child { margin-left: 0 }
nav ul li:last-child { margin-right: 0 }

nav ul li a,
nav ul li a:hover {
    color: white;
    text-decoration: none;
}

section, footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Header */
header .navbar-brand img {
    height: auto;
    width: 40px;
}

/* Intro: Ichi & Gon */
.ichi, .gon {
    position: fixed;
    width: 230px;
    height: 413px;
    padding: 0;
    background: url("../images/Pattern.png"), -webkit-linear-gradient(135deg,rgba(249,99,50,.25),rgba(250,177,91,.75));
    background: url("../images/Pattern.png"), linear-gradient(-45deg,rgba(249,99,50,.25),rgba(250,177,91,.75));
}


.ichi .ichiHeader,
.ichi .container img,
.gon .gonHeader,
.gon .container img {
    width: 100%;
    height: auto;
}

.ichi .ichiContent img[alt="Human body"] {
    width: 80px
}

/* Intro */
section.intro {
    background-image: url("../images/web-section1bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

section.intro h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
section.intro h1 span { color: #e9815e }

.mobileUI {
    overflow: hidden;
    background-color: white;
    width: 230px;
    height: 413px;
}

section.intro h2 {
    font-size: 1.7em;
    font-weight: 700;
}

section.intro .calltoIntro { margin-top: 35px }

section.intro .introDownload { margin-top: 140px }
section.intro .introDownload img,
section.intro .introDownload svg {
    width: 100%;
    height: auto;
}

section.intro .introDownload h2 {
    color: white;
    margin-bottom: 20px;
}

/* Loader */
section.global {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url("../images/Pattern.png"), -webkit-linear-gradient(135deg,#fab15b,#f96332);
    background: url("../images/Pattern.png"), linear-gradient(-45deg,#fab15b,#f96332);
    color: #fff;
    padding: 0;
}

/* Loading */
section.loader .intro,
section.loader .loading,
section.loader .loadingBar {
    position: relative;
}

section.loader h1 { font-size: 4em; }
section.loader h2 { font-size: 3em; }
section.loader h3 { font-size: 2em; }
section.loader h4 { font-size: 1em; }
section.loader h5 { font-size: .9em; }

section.loader .intro .loaderItem,
section.loader .loading .loaderItem,
section.loader .loadingBar .loaderItem {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

/* Intro */
section.loader .intro {
    color: white;
}

section.loader .intro h3 {
    text-transform: uppercase;
    font-weight: 700;
}

section.loader .intro h4 {
    text-transform: capitalize;
    margin-bottom: 0;
}

/* Loading */
section.loader .loading img#loadingFinger {
    width: 100%;
    height: auto;
    max-width: 80px;
}

#loadingCircle {
    width: 200px;
}

#loadingCircle img  {
    height: auto;
    width: 80%;
    margin-left: 21px;
}

/* Loading Bar */
section.loader .loadingBar {
    color: white;
}

section.loader .loadingBar h3,
section.loader .loadingBar h4 {
    text-transform: uppercase;
}

section.loader .loadingBar h3 {
    font-weight: 700;
    margin-bottom: 0;
}

section.loader #thing {
    width: 100%;
    height: 8px;
}

/* */
.testable {
    max-width: 160px;
    width: 100%;
}

/* Slider */
section.slider {
    background-color: #e9815e;
}

section.slider h2 {
    color: white;
    font-weight: 700;
}

section.slider p {
    color: black;
}

section.slider .btn-learn {
    color: white;
    background-color: #30373b;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Info */
section.info {
    background-color: white;
    width: 100%;
}

section.info img.voodooWatch {
    margin-top: -160px;
    width: 100%;
    height: auto;
    max-width: 300px;
}

section.info .incerp {
    text-align: right;
}

section.info h2 {
    font-weight: 700;
    text-transform: capitalize;
}

.amcharts-graph-g1 .amcharts-graph-fill {
    filter: url(#blur);
}

.amcharts-graph-g2 .amcharts-graph-fill {
    filter: url(#blur);
}

.amcharts-cursor-fill {
    filter: url(#shadow);
}

#chartDiv {
    width: 100%;
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#chartBar {
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a[title~="JavaScript"] { display: none !important; }

/* Image Slit */
section.identity {
    background-color: white;
    background-image: url("../images/web-main2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 410px;
    height: auto
}

section.identity h2 {
    margin-bottom: 0;
    font-weight: 700;
    color: white;
    padding-top: 55px;
    padding-bottom: 55px;
}

section.identity h2 span {
    text-transform: uppercase;
}

section.identity h2 span b {
    color: #e9815e;
}

/* Usability */
section.usability {
    background-color: white;
}

section.usability h1 {
    font-weight: 700;
}

section.usability .incerp {
    text-align: right;
}

section.usability img.voodooMain {
    position: relative;
    margin-top: -20px;
    margin-bottom: -400px;
    z-index: 1000;
}

section.usability img.voodooChild,
section.usability img.voodooChild2 {
    position: absolute;
    opacity: .8;
    z-index: 0;
}

section.usability img.voodooChild {
    margin-left: -110px;
    width: auto;
    height: 450px;
    margin-top: 30px;
}

section.usability img.voodooChild2 {
    margin-left: 146px;
    width: auto;
    height: 450px;
    margin-top: 30px;
}


/* Footer */
footer .introDownload { margin-top: 40px }
footer .introDownload img,
footer .introDownload svg {
    width: 100%;
    height: auto;
}

footer h1 {
    text-transform: capitalize;
    font-weight: 700;
    color: white;
}

footer p {
    margin-top: 40px;
}